{% extends "main_templ.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Detail of record
{% endblock title %}

{% block page_header %}
    Detail of record #{{ object.pk }}
{% endblock page_header %}

{% block main_content %}

    First name: {{ object.first_name }}<br>
    Last name: {{ object.last_name }}<br>
    Country: {{ object.country }}<br>
    Date of birth: {{ object.date_of_birth }}<br><br>
    <a href="{% url 'authors-list' %}"  class="btn btn-secondary">Back</a>

{% endblock main_content %}