<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary Author</title>
</head>
<body>
    <table border="1px"">
        <caption style="font-size: 16pt; font: bold;">Dictionary: "Authors"</caption>
        <tr>
            <th>PK</th>
            <th>Name</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{ object.pk }}</td>
            <td>{{ object.name }}</td>
            <td>
                <a href="{% url 'countries-update' object.pk %}">Update</a>
                <a href="{% url 'countries-delete' object.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'countries-create' %}">Add new record</a><br><br>
    <a href="{% url 'dicts-list' %}">Dictionary select page</a>
</body>
</html>