{% extends "main_templ.html" %}

{% block title %}
    Dictionary "{{ context_object_name }}"
{% endblock title %}

{% block page_header %}
    {{ context_object_name }}
{% endblock page_header %}

{% block main_content %}
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        
        {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.name }}</td>
                <td>
                    <a title="Edit" href="{% url '{{ context_object_name|lower }}-update' object.pk %}"><i class="bi bi-pencil-square"></i></a>
                    <a title="Delete" href="{% url '{{ context_object_name|lower }}-delete' object.pk %}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url '{{ context_object_name|lower }}-create' %}" class="btn btn-primary" style="width: 200px;">New record</a><br><br>
    <a href="{% url 'dicts-list' %}" class="btn btn-secondary" style="width: 200px;">Back</a>

{% endblock main_content %}
