<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
 
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}"><i class="bi bi-house-door-fill"></i> Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'books-catalog' %}"><i class="bi bi-bag-fill"></i> Каталог</a>
        </li>
        {% if perms.references.view_authors %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-book-fill"></i> Справочники</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="{% url 'references:authors-list' %}">Авторы</a></li>
              <li><a class="dropdown-item" href="{% url 'references:genres-list' %}">Жанры</a></li>
              <li><a class="dropdown-item" href="{% url 'references:series-list' %}">Серии</a></li>
              <li><a class="dropdown-item" href="{% url 'references:publishers-list' %}">Издательства</a></li>
              <li><a class="dropdown-item" href="{% url 'references:age_categories-list' %}">Возрастные категории</a></li>
              <li><a class="dropdown-item" href="{% url 'references:book_formats-list' %}">Форматы книг</a></li>
            </ul>
          </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active text-info" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> 
            <b>
              {% if not user.is_authenticated %}
                
              {% else %}
                {% if user.first_name %}
                  {{ user.first_name }}
                {% else %}
                  {{ user.username }}
                {% endif %}
              {% endif %}
            </b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdown01">
            {% if not user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="{% url 'users:login' %}?next={{ request.path }}"><i class="bi bi-box-arrow-in-right"></i> Вход</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'users:create-user' %}"><i class="bi bi-person-plus-fill"></i> Регистрация</a>  
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="{% url 'users:update-user' %}"><i class="bi bi-info-circle"></i> Профиль</a>
              </li>
              </li>
                <a class="dropdown-item" href="#"><i class="bi bi-bag"></i> Заказы</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="bi bi-box-arrow-left"></i> Выход</a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
      <a href="{% url 'cart:view-cart' %}" class="btn btn-success">
        <i class="bi bi-cart4"></i>
          {% if request.session.books_in_cart %}
            <span class="badge bg-light text-dark">
                {{ request.session.books_in_cart }}
            </span>
          {% endif %}
      </a>
  </div>
</nav>
