{% extends "main_templ.html" %}

{% block title %}
    Delete record
{% endblock title %}

{% block page_header %}
    Do you want delete record #{{ object.pk }} <b><i>({{ object}})</i></b>?
{% endblock page_header %}

{% block main_content %}

    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger" style="width: 200px;">Confirm</button>
    </form>
    <br>
    <a href="{% url 'authors-list' %}" class="btn btn-secondary" style="width: 200px;">Back</a>

{% endblock main_content %}