{% extends "mainapp/template_main.html" %}

{% block title %}
    My Book Store
{% endblock title %}

{% block page_header %}
    Последнее поступление товара
{% endblock page_header %}

{% block main_content %}

{% block page_nav_bar %}
{% include 'mainapp/nav_bar.html' %}
{% endblock page_nav_bar %}

  <div class="container px-5">
    <div class="row row-cols-1 row-cols-md-6 gx-5">
      {% for object in objects %}
        <div class="col">
            <div class="card h-100 border-light">
              <img src="media/{{ object.picture }}" class="img-fluid">
              <p><b> {{ object.name }} </b></p>
              <p> {{ object.get_authors }} </p>
              <a href="#" class="btn btn-primary btn-sm text-bottom">В корзину</a>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock main_content %}