{% extends "template_main.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Добавление/Редактирвание данных
{% endblock title %}

{% block page_header %}
    Введите данные:
{% endblock page_header %}

{% block main_content %}
    
    <br>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" class="btn btn-success" style="width: 200px;">Сохранить</button>
        <button onclick="history.back()" class="btn btn-secondary" style="width: 200px;">Назад</button>
    </form>
    
{% endblock main_content %}