{% extends "template_main.html" %}

{% block title %}
    Удаление записи
{% endblock title %}

{% block page_header %}
    Вы хотите удалить запись №{{ object.pk }} <b><i>({{ object}})</i></b>?
{% endblock page_header %}

{% block main_content %}
    
    <br>

    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm" style="width: 200px;">Удалить</button>
        <a onclick="history.back()" class="btn btn-secondary btn-sm" style="width: 200px;">Назад</a>
    </form>
    
{% endblock main_content %}