{% extends "references/list_template.html" %}

{% block title %}
    Справочник "Возрастные категории"
{% endblock title %}

{% block page_header %}
    Возрастные категории
{% endblock page_header %}

{% block dict_actions %}
    <a title="Edit" href="{% url 'age_categories-update' object.pk %}"><i class="bi bi-pencil-square"></i></a>
    <a title="Delete" href="{% url 'age_categories-delete' object.pk %}"><i class="bi bi-trash"></i></a>
{% endblock dict_actions %}

{% block dict_create %}
    <a href="{% url 'age_categories-create' %}" class="btn btn-primary" style="width: 200px;">Добавить</a><br><br>
{% endblock dict_create %}
