{% extends "references/list_template.html" %}

{% block title %}
    Справочник "Серии"
{% endblock title %}

{% block page_header %}
    Серии
{% endblock page_header %}

{% block dict_actions %}
    <a title="Edit" href="{% url 'series-update' object.pk %}"><i class="bi bi-pencil-square"></i></a>
    <a title="Delete" href="{% url 'series-delete' object.pk %}"><i class="bi bi-trash"></i></a>
{% endblock dict_actions %}

{% block dict_create %}
    <a href="{% url 'series-create' %}" class="btn btn-primary" style="width: 200px;">Добавить</a><br><br>
{% endblock dict_create %}
